
<div id="main">
  <h1 id="title">Login</h1>
  <p id="description">click for continue</p>
  <form action="" id="survey-form">
    <div class="form-group">
      <label for="" id="email-label">email</label>
      <input type="email"placeholder="Enter email" class="enter"id="email"requiered>
    </div>
    <div class="form-group">
      <label for="" id="password">password</label>
      <input type="password"class="enter"placeholder="Enter password" id="password"requiered>
    </div>
    <div class="form-group">
      <button type="submit" id="submit">
        Submit
      </button>
    </div>

  </form>
</div>

